*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

body{
    max-width: 100%; /* Set the maximum width to 100% of the window size */
    margin: 0 auto; /* Center the content horizontally */
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/static/Home-page.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
    transition:  background 1s;
}

.navbar ul li:hover{
    color: #009688;
    padding: 10px;
    border-radius: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: color 10s border-bottom 6s;

}

.navbar ul li a:hover{
    color: #009688;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid #009688;

}


.navbar ul li a .button{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: background 0.5s;
}

.navbar ul li a .button:hover{
    background: #009688;

}

/* Index page layout in contents */
.content-index{
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content-index h1{
    font-size: 70px;
    margin-top: 80px;
}

.content-index p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.button{
    width: 130px;
    height: 50px;
}

input{
    background: black;
    color: white;
    border: none;
    margin: auto;
    width: 30%;
    padding: 20px;
    border-bottom: 3px solid #009688;
    border-radius: 10px;
}

input:focus{
    border: 3px solid #009688;
}

.error-message{
    background: rgba(255,0,0,0.3);
    padding: 30px;
}

.success-message{
    background: rgba(0,255,0,0.3);
    padding: 30px;
}

.response-no{
    background: rgba(0,255,0,0.3);
    padding: 30px;
}

table{
    width: 250px;
    margin: 0 auto;
}

.aps-table{
    padding: 200px;
    align-items: center;
    border: solid 2px;
    border-radius: 50%;
}

.aps-table th{
    padding: 60px;
    padding-bottom: 0;
    padding-top: 0;
    background: #009688;
    color: white;
    border: solid 2px;
}

.aps-table td{
    color: white;
    padding: 5px;
    border: solid 2px;
}

.banner-home{
    background: black;
}

.aps-table td input{
    padding: 20px;
    width: 250px;
}

.aps-calculator{
    color: white;
    padding: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/static/Calculate-aps-gpa.jpg);
    background-size: cover;
    background-position: center;
}

.aps-level-calculator{
    color: white;
    padding: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/static/Calculate-aps-gpa.jpg);
    background-size: cover;
    background-position: center;
}

.homepage{
    color: white;
    padding: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/static/3-16-CH-Man-thinking-surrounded-by-question-marks.jpg);
    background-size: cover;
    background-position: center;
}

p{
    color: white;
}

h2{
    color: white;
}

div .bg{
    background: #000000;
}

#distinctions{
    background: rgba(0,255,0,0.3);
    padding: 30px;
}

.gpa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 250px;
}

.gpa button{
    width: 250px;
}

select{
    background: black;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

select option:hover{
    background: #009688;

}


