{% extends "form.html" %}

{% block body %}
<div class="content-index">
    <h1>Sign Up</h1>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
    {% endwith %}
    <form action="/signup" method="post">
        <input type="text" autocomplete='off' name="username" placeholder="Username"><br>
        <input type="password" autocomplete='off' name='password' placeholder="Password"><br>
        <input type="password" autocomplete='off' name='confirmation' placeholder="Password Again"><br>
        <a href="/login">Already have an account? Sign In</a><br>
        <button type="submit"><span></span>Create Account</button>
    </form>
</div>
{% endblock %}